{{ define "title" }}Deserted Island {{ .Section }} &ndash; {{ .Title }}{{ end }}

{{ define "main" }}
{{ $headless := .Resources }}
{{ $agendaYear := .Params.year }}
<section class="section">
  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
      {{ .Content }}
    </div>
    <section class="talks">
      <div class="columns">
        <div class="column is-full messageCard">
          {{ $talks := where .Site.RegularPages "Type" "talk" }}
          {{ $filteredTalks := where $talks ".Params.year" "eq" $agendaYear }}
          {{ range $talk := $filteredTalks }}

            <article class="media">
              <figure class="media-left is-hidden-mobile">
                <a class="anchor" id="{{ .File.TranslationBaseName }}"></a>
                <p class="image is-128x128 is-roundrect">
                  {{ with $icon := $headless.GetMatch .Params.picture }}
                  {{ $resize := $icon.Resize "128x128 jpg q100" }}
                  <img class="is-roundrect" src="{{ $resize.RelPermalink }}">
                  {{end}}
                  {{ if isset .Params "picture2" }}
                    {{ with $icon2 := $headless.GetMatch .Params.picture2 }}
                    {{ $resize2 := $icon2.Resize "128x128 jpg q100" }}
                    <br />
                    <img class="is-roundrect" src="{{ $resize2.RelPermalink }}">
                    {{ end }}
                  {{ end }}
                </p>
              </figure> 
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong class="is-size-5">{{ .Params.title }}</strong> <br />
                    <i class="is-size-7">{{.Params.speaker}} | <a href="https://twitter.com/{{.Params.twitter}}">@{{ .Params.twitter }}</a>
                    {{ if isset .Params "twitter2" }}
                    | <a href="https://twitter.com/{{.Params.twitter2}}">@{{ .Params.twitter2 }}</a>
                    {{ end }}
                    | <span class="icon-text is-small "><i class="fas fa-clock "></i>{{ .Params.time }}&nbsp;EDT</span>
                    </i> 
                    
                    <div class="columns">
                      <div class="column is-half">
                        <strong>Abstract</strong>
                        {{ .Content }}
                      </div>
                      <div class="column is-half">
                        <strong>Speaker Biography</strong>
                        <br />
                        {{ .Params.bio }}
                      </div>
                    </div>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <a href="#{{.File.TranslationBaseName}}"><span class="icon is-small"><i class="fas fa-link"></i></span></a>
              </div>
            </article>
            {{ if isset .Params "prebreak" }}
            <article class="media">
              <div class="media-content has-text-centered">
                <strong class="is-size-5">{{ .Params.breaktitle }} - {{ .Params.breaklen }}</strong>
              </div>
            </article>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
  </div>
</section>

{{ end }}
