{{ define "title" }}Deserted Island {{ .Section }} &ndash; {{ .Title }}{{ end }}

{{ define "main" }}
{{ $headless := .Resources }}
<section class="section">
  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
      {{ .Content }}
    </div>
    <section class="talks">
      <div class="columns">
        <div class="column is-full messageCard">
          {{ $talks := where .Site.RegularPages "Type" "talk" }}
          {{ range $talk := $talks }}

            <article class="media">
              <figure class="media-left">
                <a class="anchor" id="{{ .File.TranslationBaseName }}"></a>
                <p class="image is-128x128 is-rounded">
                  {{ with $icon := $headless.GetMatch .Params.picture }}
                  {{ $resize := $icon.Resize "128x128 jpg q100" }}
                  <img class="is-rounded" src="{{ $resize.RelPermalink }}">
                  {{end}}
                </p>
              </figure> 
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong class="is-size-4">{{ .Params.title }}</strong> <br />
                    <i class="is-size-5">{{.Params.speaker}} | <a href="https://twitter.com/{{.Params.twitter}}">@{{ .Params.twitter }}</a></i> 
                    <div class="columns">
                      <div class="column is-half">
                        <strong>Abstract</strong>
                        {{ .Content }}
                      </div>
                      <div class="column is-half">
                        <strong>Speaker Biography</strong>
                        <br />
                        {{ .Params.bio }}
                      </div>
                    </div>
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <p class="level-item">
                      <span class="icon is-small"><i class="fas fa-clock"></i> &nbsp;{{ .Params.time }} </span>
                    </p>
                  </div>
                </nav>
              </div>
              <div class="media-right">
                <a href="#{{.File.TranslationBaseName}}"><span class="icon is-small"><i class="fas fa-link"></i></span></a>
              </div>
            </article>
            {{ if isset .Params "prebreak" }}
            <article class="media">
              <div class="media-content has-text-centered">
                <strong class="is-size-4">{{ .Params.breaktitle }} - {{ .Params.breaklen }}</strong>
              </div>
            </article>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </section>
  </div>
</section>

{{ end }}
