{{ define "title" }}Deserted Island {{ .Section }} &ndash; {{ .Title }}{{ end }}

{{ define "main" }}
{{ $headless := .Resources }}
{{ $sponsorYear := .Params.year }}
<section class="section">
  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
        {{ .Content }}
      <div class="columns is-vcentered is-multiline">
        {{ $sponsors := where .Site.RegularPages "Type" "sponsor" }}
        {{ $filteredSponsors := where $sponsors ".Params.year" "eq" $sponsorYear }}
        {{ range $filteredSponsors }}
          <div class="column is-4">
          <a href="https://{{ .Params.url }}">
            <p class="image">
              {{ with $logo := $headless.GetMatch .Params.logo }}
              {{ $resize := $logo.Fit "640x360" }}
              <img src="{{ $resize.RelPermalink }}">
              {{ end }}
            </p>
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}
