{{ $title      := .Title }}
{{ $tagline    := site.Params.tagline | markdownify }}
{{ $subtagline := site.Params.sub_tagline | markdownify }}
{{ $description := site.Params.sub_description | markdownify }}
{{ $logo       := printf "/images/%s" site.Params.logos.hero | relURL }}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <img class="main-hero-logo" src="{{ $logo }}">
        </div>
        <div class="column is-6 box has-text-centered">
          <p class="subtitle is-size-2-desktop is-size-3-tablet is-size-4-mobile has-text-weight-light ">
            {{ $subtagline }}
          </p>
          <p class="is-size-5-desktop is-size-6-tablet is-size-6-mobile has-text-weight-light">
            {{ $description }}
          </p>
          <br />
          <iframe
              src="https://player.twitch.tv/?channel=DesertedIslandTV&parent=desertedislanddevops.com&parent=desertedisland.club&parent=www.desertedislanddevops.com&parent=www.desertedisland.club&parent=localhost"
              height="300"
              width="400"
              allowfullscreen="false">
          </iframe>
          <a class="is-button-link" href="https://twitch.tv/desertedislandtv">
          <div class="is-size-2 is-purple">
            <span class="icon is-small">
              <i class="fab fa-twitch"></i>
            </span>
            
            <span class="twitch-text">&nbsp;Join us on Twitch!</span>
          </div></a>  
          <br />
          <a class="is-button-link" href="https://discord.gg/CPM5Jcg">
          <div class="is-size-2 is-discord-purple">
            <span class="icon is-small">
              <i class="fab fa-discord"></i>
            </span>
            
            <span class="twitch-text">&nbsp;Chat on Discord!</span>
          </div></a>
          <br />
                  
        </div>
      </div>
    </div>
  </div>
</section>
