{{ $title      := .Title }}
{{ $tagline    := site.Params.tagline | markdownify }}
{{ $subtagline := site.Params.sub_tagline | markdownify }}
{{ $description := site.Params.sub_description | markdownify }}
{{ $logo       := printf "/images/%s" site.Params.logos.hero | relURL }}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <img class="main-hero-logo" src="{{ $logo }}">
        </div>
        <div class="column is-6 box has-text-centered">
          <p class="subtitle is-size-2-desktop is-size-3-tablet is-size-4-mobile has-text-weight-light ">
            {{ $subtagline }}
          </p>
          <p class="is-size-5-desktop is-size-6-tablet is-size-6-mobile has-text-weight-light">
            {{ $description }}
          </p>
          <br />
          <a class="is-button-link" href="/registration">
          <div class="is-size-4 is-registration-green">
            <span class="icon is-small">
              <i class="fas fa-envelope-open-text"></i>
            </span>
            <span class="register-text">&nbsp;Registration</span>
          </div>
          </a>
          <br />
          <div class="columns">
          <div class="column">
            <a class="is-button-link" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NGQ0dTQ2aGQ1djI5cTVlcDFvaTJzNmY3ZHYgbGlnaHRzdGVwLmNvbV90Y2E1N200MmM3azk3MDhtcjNpbW84dnEyY0Bn&tmsrc=lightstep.com_tca57m42c7k9708mr3imo8vq2c%40group.calendar.google.com">
            <div class="is-size-4 is-gcal-blue">
              <span class="icon is-small">
                <i class="fas fa-calendar-plus"></i>
              </span>
              <span class="twitch-text">&nbsp;Google Calendar</span>
            </div>
            </a>
          </div>
          <div class="column">
            <a class="is-button-link" href="/didevops2021.ics">
            <div class="is-size-4 is-gcal-blue">
              <span class="icon is-small">
                <i class="fas fa-calendar-plus"></i>
              </span>
              <span class="twitch-text">&nbsp;iCal/Outlook</span>
            </div>
            </a>
          </div>
          </div>
          <a class="is-button-link" href="https://discord.gg/CPM5Jcg">
          <div class="is-size-4 is-discord-purple">
            <span class="icon is-small">
              <i class="fab fa-discord"></i>
            </span>
            
            <span class="twitch-text">&nbsp;Join our Discord</span>
          </div></a>
          <br />
          <a class="is-button-link" href="https://twitch.tv/desertedislandtv">
          <div class="is-size-4 is-purple">
            <span class="icon is-small">
              <i class="fab fa-twitch"></i>
            </span>
            
            <span class="twitch-text">&nbsp;Follow on Twitch</span>
          </div></a>          
        </div>
      </div>
    </div>
  </div>
</section>
