{{ $title      := .Title }}
{{ $tagline    := site.Params.tagline | markdownify }}
{{ $subtagline := site.Params.sub_tagline | markdownify }}
{{ $description := site.Params.sub_description | markdownify }}
{{ $logo       := printf "/images/logos/%s" site.Params.logos.hero | relURL }}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <img class="main-hero-logo" src="{{ $logo }}">
        </div>
        <div class="column is-6 box has-text-centered">
          <p class="subtitle is-size-2-desktop is-size-3-tablet is-size-4-mobile has-text-weight-light ">
            {{ $subtagline }}
          </p>
          <p class="is-size-5-desktop is-size-6-tablet is-size-6-mobile has-text-weight-light">
            {{ $description }}
          </p>
          <br>
          <a href="https://tinyletter.com/DesertedIslandDevOps"><button class="button is-primary is-large is-fullwidth">Register Now!</button></a>
          <br />
          <a class="is-button-link" href="https://twitch.tv/oncallmemaybe">
          <button class="button is-fullwidth is-purple is-large">
            <span class="icon is-small">
              <i class="fab fa-twitch"></i>
            </span>
            <span>Streaming @ On-Call Me Maybe</span>
          </button></a>
          <br />
          <strong class="is-size-4">Live on 4/30/20 @ 10 AM ET!</strong>
          <br />
          <div>
            <a href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NTMwcDZsZmg2cDB0NTFuNDliZWJzMm5rMTYgbGlnaHRzdGVwLmNvbV90Y2E1N200MmM3azk3MDhtcjNpbW84dnEyY0Bn&tmsrc=lightstep.com_tca57m42c7k9708mr3imo8vq2c%40group.calendar.google.com">
              <span class="icon is-large">
                <i class="fab fa-lg fa-google">&nbsp;GCal</i>
              </span>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/didocal.ics">
              <span class="icon is-large">
                <i class="fab fa-lg fa-apple">&nbsp;iCal</i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
